@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
  height: 100%;
  background-color: black;
  color: white;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
}

@media (min-width: 1024px) {
  .testimonySwiper .swiper-slide{
    width: 33.3% !important;
  }
  .workSwiper .swiper-slide{
    width: 66.6% !important;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}